<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand logo" [routerLink]="['/home']" [textContent]="isLoggedIn ? 'InfoBank Admin' : 'InfoBank'"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/info/coding']">Programovanie</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/info/psychology']">Psychológia</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/info/other']">Ostatné</a>
                </li>
                <li *ngIf="isLoggedIn" routerLinkActive="active" class="nav-item">
                    <a class="nav-link" [routerLink]="['/info-create']">Admin</a>
                </li>
            </ul>
            <form class="me-3" style="width: 30%;">
                <div class="input-group">
                    <span class="input-group-text clickable" id="basic-addon1" (click)="onSearch(search.value)">
                        <i class="bi bi-search"></i>
                    </span>
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Názov" 
                        #search 
                        aria-describedby="basic-addon1">                
                </div>
            </form>
            <div class="navbar-nav me-1 mb-2 mb-lg-0">
                <a class="nav-link" (click)="onAuthenticate()" [textContent]="isLoggedIn ? 'Logout' : 'Login'"></a>
            </div>
        </div>
    </div>
</nav>