<app-alert *ngIf="errorMessage.length > 0" [message]="errorMessage"></app-alert>
<div class="container">
    <form #f="ngForm" (ngSubmit)="onLogin(f)">
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input 
                required
                type="text"
                id="email"
                name="email"
                ngModel
                class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="password" class="form-label">Heslo</label>
            <input 
                required
                type="password"
                id="password"
                name="password"
                ngModel
                class="form-control">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Login</button>
            <app-spinner *ngIf="isLoading"></app-spinner>
        </div>
    </form>
</div>
