/* You can add global styles to this file, and also import other style files */
.clickable {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.clickable:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

input.ng-invalid.ng-touched {
    border: 1px salmon solid;
}

textarea.ng-invalid.ng-touched {
    border: 1px salmon solid;
}

ckeditor.ng-invalid.ng-touched > div.ck {
    border: 1px salmon solid;
    border-radius: 4px;
}

.form-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}