/* You can add global styles to this file, and also import other style files */
.clickable {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.clickable:hover {
    background-color: rgba(0, 0, 0, 0.2);
}